/* App.css */

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  margin: 20px 0;
  transition: color 0.3s, text-shadow 0.3s;
}

h1:hover {
  color: #ff4081;
  text-shadow: 0 0 20px rgba(255, 64, 129, 0.8);
}

div {
  text-align: center;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
}

div:hover::after {
  opacity: 0.5;
}
